{{- define "main"}}
package main

import (
	"flag"
	"github.com/expgo/ag/generator"
{{- range $i, $plugin := .Plugins }}
    _ "{{$plugin}}"
{{- end}}
)

func main() {
	var filename string
	var fileSuffix string
	var packageMode bool

	flag.StringVar(&filename, "file", "", "The file is used to generate the annotation file.")
	flag.StringVar(&fileSuffix, "suffix", "_ag", "Changes the default filename suffix of _ag to something else.")
	flag.BoolVar(&packageMode, "package-mode", false, "If true, ag will work on package mode.")

	flag.Parse()

	if len(filename) == 0 {
		return
	}

	generator.GenerateFile(filename, fileSuffix, packageMode)
}
{{end -}}
